@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
}

.intro-text {
  text-align: center;
}

.welcome-modal {
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

a:hover {
  text-decoration: none;
}

body {
  padding-top: 0px;
  background-color: #e1eaea;
}

h1 {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

h3 {
  text-align: center;
}

.container .group-index{
  font-size: 10px;
  width: 300px;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.navbar-brand {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}

.navbar .navbar-default {
  top: -20px;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.search-groups {
  position: relative;
  margin-top: 0px;
  left: -450px;
  top: -70px;
}

.search-events {
  position: relative;
  left: -17px;
  margin-top: 0px;
  top: -325px;
}

.group-btns {
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
}

// [draggable=true] {
//     cursor: move;
// }
//
// .resizable {
//     overflow: scroll;
//     resize: both;
//     max-width: 300px;
//     max-height: 460px;
// }

.event-item {
  text-align: center;
  border-style: ridge;
  border-radius: 1px;
  border-color: black;
  width: 500px;
  background-color: white;
}

.group-item {
  width: 220px;
  height: 200px;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  border-style: outset;
  border-color: black;
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.title {
  font-size: 14px;
  text-align: center;
}

.new-event {
  margin: 0 auto;
  font-size: 14px;
}

.new-group {
  margin: 0 auto;
  text-align: center;
  border-color: black;
  font-size: 14px;
}

.btn-primary {
  margin-top: 10px;
}

.group-show {
  font-size: 18px;
  width: 500px;
  height: 200px;
  text-align: center;
}

.event-show {
  background-color: white;
  text-align: center;
  border-style: ridge;
  border-radius: 1px;
  border-color: black;
  width: 500px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.btn .btn-primary {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
