@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
}

body {
  padding-top: 0px;
  background-color: #e1eaea;
}

h1 {
  padding-top: 0px;
  margin-left: 10px;
}

h3 {
  text-align: center;
}

.group-index {
  font-size: 10px;
}

.nav .navbar-default {
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.search-groups {
  position: relative;
  margin-top: 0px;
  left: -35px;
  top: -100px;
}

.search-events {
  position: relative;
  left: -20px;
  margin-top: 0px;
  top: -350px;
}

.group-btns {
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
}

// [draggable=true] {
//     cursor: move;
// }
//
// .resizable {
//     overflow: scroll;
//     resize: both;
//     max-width: 300px;
//     max-height: 460px;
// }

.event-item {
  text-align: center;
  border-style: ridge;
  border-radius: 1px;
  border-color: black;
  width: 500px;
  background-color: white;
}

.group-item {
  width: 220px;
  height: 200px;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  border-style: outset;
  border-color: black;
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.title {
  font-size: 14px;
  text-align: center;
}

.glyphicon-plus {
  list-style: none;
  margin: 10px;
  margin-left: 20px;
  margin-top: 22px;
}

a {
  float: left;
}

a:hover {
  text-decoration: none;
}

.new-event {
  margin: 0 auto;
  font-size: 14px;
}

.new-group {
  margin: 0 auto;
  text-align: center;
  border-color: black;
  font-size: 14px;
}

.btn-primary {
  margin-top: 10px;
}

.group-show {
  font-size: 18px;
  width: 500px;
  height: 200px;
  text-align: center;
}

.event-show {
  background-color: white;
  text-align: center;
  border-style: ridge;
  border-radius: 1px;
  border-color: black;
  width: 500px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

button {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
