//= require_tree .

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Patrick+Hand');
@import url('//fonts.googleapis.com/css?family=Proxima+Nova');

@media (max-width: 763px){
  li.nav-item-divider {
    display: none;
  }

  .collapse.in {
    margin-top: 5px;
    background-color: #eee;
    border-radius: 20px;
    float: right;
    width: 150px;
    z-index: 999;
  }


  .shepherd-content {
    display: none;
  }
}

@media (max-width: 991px) {
  .group-panel {
    margin-left: 10%;
    margin-right: 10%;
  }
  .members {
    display: none;
  }
  .event-index {
    display: none;
  }
}

@media (min-width: 992px) {
  .group-panel {
    margin-left: 3%;
    margin-right: 2%;
  }
}

@media (max-width: 934px) {
  .user-groups-caption {
    display: none;
  }
}

#root {
  overflow: scroll;
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}

#login .alert-danger {
  z-index: 10 !important;
  position: fixed;
}

.show-group .alert {
  height: 50px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0;
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.login-page {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: url("http://res.cloudinary.com/sherzader/image/upload/v1460326545/steamingcoffee_iu6bzg.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#credit {
  position: fixed;
  bottom: 0;
  left:5px;
}

#hiddenlogin {
  display: none;
  animation: fadein 2s;
}

.login-btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 0px;
  letter-spacing: 1px;
  font-size: 18px;
  animation: fadein 4s;
  width: 190px;
}

.login-page input {
  width: 190px;
  background-color: rgba(0, 0, 0, 0.4);
}

#returning {
  background-color: rgba(0, 0, 0, 0.4);
}

#guest {
  background-color: rgba(0, 0, 0, 0.2);
}

#user {
  background-color: rgba(0, 0, 0, 0.2);
}

#guest:hover {
  background-color: #66ff66;
}

#user:hover {
  background-color: #66ff66;
}

#returning:hover {
  background-color: #66ff66;
}

.login {
  margin: 3% auto;
  color: #000;
  text-align: center;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.login h2:nth-child(1) {
  font-size: 34px;
  color: #66ff66;
  font-family: 'Patrick Hand', sans-serif !important;
}

.login h4 {
  padding-top: 10px;
}

.login a {
  color: #66ff66;
  font-size: 18px;
  font-weight: bold;
}

.intro-modal {
  padding: 20px;
  min-width: 400px;
  min-height: 250px;
  font-family: inherit;
}

#welcome-modal {
  letter-spacing: -0.5px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 40px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

#welcome-modal-title {
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 28px;
}

#welcome-info {
  line-height: 15px;
}

#welcome-list {
  width: auto;
  min-height: 100px;
  margin-left: 40px;
  text-align: justify;
  line-height: 10px;
}

.dropdown-menu {
  font-size: 15px;
}

.dropdown-toggle {
  height: 50px;
  text-transform: uppercase;
}

li {
  list-style: none;
  display: block;
  cursor: pointer;
  cursor: hand;
}

.edit-event > .jumbotron {
  text-align: center;
  height: 500px;
  margin: 0px auto;
  padding: 30px;
  width: 500px;
  display: inline-flex;
  top: 15%;
  position: absolute;
  left: 25%;
  webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  border-radius: 10px;
}

* { font-family: 'Proxima Nova', sans-serif; }
*:focus {
    outline: none;
}

.nav-item {
  text-transform: uppercase;
  height: 50px;
  font-size: 15px;
}

.dropdown-menu li a:hover{
  color: purple;
  background-color: #fff;
}

.navbar-default .glyphicon {
  padding-left: 10px;
}

.nav-item-divider {
  border-left: 1px solid #d9d9d9;
  height: 40px;
  top: 5px;
}

.nav-item:hover {
  color: #ddd !important;
  border-bottom-style: dotted;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 0 auto;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 250px;
}

h1 {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.block {
  float: right;
  position: relative;
  top: 40px;
  background: #eee;
  box-shadow: 0 1px 1px #ccc;
  padding: 30px;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 20px;
}

::-webkit-scrollbar {
    display: none;
}

.group-search {
  margin-bottom: 50px;
  padding-top: 40px;
  width: 30%;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

div.input-group {
  position: relative;
  margin: 0 auto;
  border-bottom: 5px aquamarine solid;
  font-size: 24px;
  color: #000;
}

div.input-group input {
  padding: 7px;
}

.hidden {
  display: none;
}

.hover-opts .glyphicon {
  color: #fff;
  width: 32px;
}

.hover-opts .glyphicon:hover {
  color: #66ff66;
}

.group-caption {
  transition: all 0.5s ease-in;
  letter-spacing: -1px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.group-caption:hover {
  transition: all 0.4s ease-in;
}

.group-show-join {
  position: relative;
  top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ff9933;
  border-radius: 20px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.group-show-join:hover {
  transition: all 0.4s ease-in;
  background-color: #ccc;
  border-color: #ccc;
}

.usersgroups-show {
  position: absolute;
  margin-top: 0px;
  top: 80px;
}

.usersgroup-caption {
  font-size: 22px;
  font-weight: 400;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 207px;
  top: 70px;
  position: absolute;
  margin-left: 5%;
}

.profile {
  position: absolute;;
  width: 500px;
  height: 300px;
  padding-top: 10px;
  padding-left: 10px;
  background: white;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 30%;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.profile-pic {
  position: absolute;
  margin-left: 5%;
  float: left;
  z-index: 999;
}

.profile-caption {
  position: absolute;
  margin-left: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30%;
  top: 80px;
}

.user-show {
  margin: 0 auto;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.user-show-info {
  width: 400px;
  height: 340px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 70px;
}

.user-caption {
  position: relative;
  padding-top: 150px;
  right: -20px;
}

.user-pic {
  float: left;
}

.user-groups {
  margin-left: 10%;
  margin-right: 2%;
  float: left;
}

.user-groups {
  .group-item {
   position: relative;
   display: inline-block;
   max-width: 300px;
   margin-bottom: 70px;
   z-index: 1;
   border-radius: 10px;
   transition: all 0.5s ease-in-out;
   webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   box-shadow: 0 5px 5px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  }

  .group-item-img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
  }

  .group-caption {
    cursor: pointer;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 999;
    top: 0px;
    left: 0px;
    border-radius: 10px 0px 0px 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transition: all 0.5s ease-in-out;
  }

  .group-caption:hover {
    color: #fff;
    background: rgb(127, 127, 127);
    background: rgba(127, 127, 127, 0.5);
  }
}

.user-groups-caption {
  font-size: 22px;
  font-weight: 400;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
}


article {
  display: block;
}

dl {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

dt {
  text-transform: uppercase;
  display: block;
}

dd {
  display: block;
  -webkit-margin-start: 40px;
}

hr {
  display: block;
  width: 300px;
  text-align: center;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.headerDivider {
   border-left:1px solid #38546d;
   border-right:1px solid #16222c;
   height: 20px;
   position: relative;
   top:10px;
}


.navbar-brand {
  color: #575757 !important;
  font-size: 30px;
  padding-left: 30px;
  position: relative;
  top: -10px;
  font-size: 26px;
  letter-spacing: -3px;
}

.navbar-brand .glyphicon {
  color: #66ff66;
}

.navbar-brand span:nth-child(1) {
  font-family: 'Patrick Hand', sans-serif !important;
  font-size: 32px;
}

.navbar-default {
  color: #000 !important;
  display: block;
  height: 50px;
  z-index: 999;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px dotted #e7e7e7;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  background: #eee; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fff, #ddd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fff, #ddd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fff, #ddd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fff, #ddd); /* Standard syntax */
}

.event-index-header {
  color: #000;
}

.e-header {
  width: 230px;
}

.event-index {
  margin-bottom: 100px;
  position: relative;
  top: 50px;
  height: 100%;
  margin-right: 1%;
}

.search-events div.input-group {
  margin-top: 60px;
}

.search-events div.input-group input {
  width: 230px;
}

.create-event {
  position: relative;
  top: 40px;
  transition: all 0.5s ease-in-out;
}

.members {
  position: relative;
  margin-left: 5%;
  margin-bottom: 50px;
  background-color: #eee;
  top: 85px;
  max-width: 300px;
  padding: 30px;
  webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.event-items {
  position: relative;
  left: -40px;
}

.event-item-header {
  position: relative;
  width: 200px;
  height: 50px;
}

.event-item {
  float: left;
  width: 230px;
  margin-left: 40px;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 20px;
  webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.glyphicon-menu-right {
  float: left;
  border-color: yellow;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  background: yellow;
}

.glyphicon-menu-right:hover {
  -ms-transform: scale(1.25,1.25); /* IE 9 */
  -webkit-transform: scale(1.25,1.25); /* Safari */
  transform: scale(1.25,1.25);
}

.date {
  color: #ec1c2b;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 12px;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-item:hover {
  background-color: #d9d9d9;
  box-shadow: 0 1px 1px #b3b3b3;
}

.event-img {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.event-buttons {
  width: 40px;
  float: left;
  margin: 40px;
}

.event-caption {
  margin: 40px;
  padding: 40px;
}

.show-event-block {
  background-color: #ddd;
  top: 50px;
  position: relative;
  padding-top: 100px;
  background: white;
  height: auto;
  width: 800px;
  margin: 0 auto;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.edit-event {
  position: relative;
}

.event-form-labels {
  float: left;
}

.form-header {
  font-size: 24px;
  position: relative;
}

.form-create-header {
  font-size: 24px;
  position: relative;
}

.modal-content {
  min-width: 464px;
}

.modal-content .btn-primary {
  margin-bottom: 10px;
}

form input {
  max-width: 300px;
  border-bottom: 4px aquamarine solid;
}

.edit-event textarea {
  margin: 0px 10px 10px;
}

.modal-header {
  width: auto;
  height: auto;
  padding-top: 40px;
}

.new-group .row {
  margin-bottom: 10px;
}

.form {
  max-width: 568px;
  padding-left: 30px;
  margin: 0 auto;
  min-height: 300px;
}

.form .new-event {
  min-height: 350px;
}

.btn-create-form {
  margin-top: 10px;
  right: -40px;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  border-radius: 15px;
}

.group-panel {
  margin-bottom: 10%;
}

.figure {
  display: table;
  top: 50px;
  margin-top: 35px;
  background-color: #e6e6e6;
  padding-bottom: 15px;
  box-shadow: 0 1px 1px #ccc;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}
.figure img {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
  webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}
.figure .caption {
  background-color: #e6e6e6;
  padding: 20px;
  position: relative;
  display: table-caption;
  caption-side: bottom;
  webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.edit-group {
  position: relative;
  top: 60px;
  left: 350px;
}

.event-show {
  background-color: white;
  text-align: center;
  border-style: ridge;
  border-radius: 1px;
  border-color: black;
  width: 500px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.btn .btn-primary {
  border: none;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.group-buttons {
  position: relative;
  height: 60px;
  top: -30px;
}

button.glyphicon {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  webkit-box-shadow: 0 5px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 5px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 5px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.glyphicon-th {
  position: relative;
  border: none;
  font-size: 30px;
  color: black;
  float: left;
  background-color: dodgerblue;
}

.glyphicon-th:hover {
  -ms-transform: scale(1.25,1.25); /* IE 9 */
  -webkit-transform: scale(1.25,1.25); /* Safari */
  transform: scale(1.25,1.25);
}

.glyphicon-pencil {
  position: relative;
  border: none;
  font-size: 30px;
  color: black;
  float: left;
  background-color: chartreuse;
}

.glyphicon-pencil:hover {
  -ms-transform: scale(1.25,1.25); /* IE 9 */
  -webkit-transform: scale(1.25,1.25); /* Safari */
  transform: scale(1.25,1.25);
}

.glyphicon-trash {
  position: relative;
  border: none;
  font-size: 30px;
  color: black;
  float: left;
  background-color: crimson;
}

.glyphicon-trash:hover {
  -ms-transform: scale(1.25,1.25); /* IE 9 */
  -webkit-transform: scale(1.25,1.25); /* Safari */
  transform: scale(1.25,1.25);
}

::-webkit-input-placeholder {
}

::-moz-placeholder {  /* Firefox 19+ */
}

input {
  color: #000;
  width: 350px;
  border: none;
}


.Calendar {
  margin-top: 60px;
  position: relative;
  font-family: 'Source Code Pro', sans-serif !important;
}

.cal-caption {
  color: #575757 !important;
  font-size: 14px;
  margin: 0 auto;
  display: table;
  position: relative;
  text-transform: uppercase;
}

.cal-caption span {
  display: inline-block;
}

.cal-caption > span:nth-child(1) {
  color: orangered;
  cursor: pointer;
}

.cal-caption > span:nth-child(2) {
  padding-left: 100px;
}

.cal-caption .glyphicon {
  font-size: 10px;
}

.app-footer {
  margin-top: 100px;
  height: 100px;
  width: 100%;
  display: inline-flex;
  top: 100%;
}

.footer-item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: purple;
  height: 59px;
  padding-top: 10px;
  padding-left: 30px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 24px;
}

.footer-item:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.footer-item > a {
  color: inherit;
}

.app {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}

.event-page {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}
